<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Random Shop</title>
  </head>

  <body>
    <header class="bg-orange-500 py-10 mb-3">
      <nav class="text-white">
        <ul class="list-none">
          <img
            src="/img/download.png"
            class="inline-block ml-10 object-contain h-20 w-20"
          />
          <li class="inline-block text-2xl italic bold indent-10">
            Random Shop
          </li>

          <li
            class="inline-block indent-64 text-3xl bold text-center underline text-black"
          >
          Name: <span class="font-bold"><%= product.productName %></span>
          </li>

          <!--Wishlist and logout portion-->
          <li class="inline-block pr-10 text-right pl-10 indent-36 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
            <!--Update routing parameters-->
            <a href="/Home">Home</a>
          </li>

          <li class="inline-block pr-10 text-right indent-5 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
            <!--Update routing parameters-->
            <a href="/wishlist">Wishlist</a>
          </li>

          <li class="inline-block pr-5 mr-5 indent-5 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
            <form method="POST" action="/logout?_method=DELETE">
              <!--Update logout parameters-->
              <button>Logout</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <div class="box-border border-blue-500 h-fill w-8/12 border-4 mt-10 mb-10 m-auto shadow-zinc-700 shadow-lg opacity-90 neutral">
      <span class="text-center mt-20">
        <p class="text-2xl mt-10 mb-10 mr-15">Name: <span class="font-sans font-bold box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"><%= product.productName %></span></p>
        <p class="text-2xl mt-10 mb-10 mr-15">Price: <span class="font-sans font-bold box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"><%= product.price %></span></p>

        <% if(product.expectedDelivery){ %>
        <p class="text-2xl mt-10 mb-10 mr-15">Expected Delivery: <span class="font-sans font-bold box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"><%= product.expectedDelivery %></span></p>
        <% } else { %>
          <p></p>
        <% } %>
        
        <% if(product.country){ %>
        <p class="text-2xl mt-10 mb-10 mr-15">Country: <span class="font-sans font-bold box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"><%= product.country %></span></p>
        <% } else { %>
          <p></p>
          <% } %>

      <form method="GET" action="/edit/<%= product._id %>">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-5 mb-5"
          type="submit"
        >
          <a href="/edit/<%= product._id %>">Edit</a>
      </button>
      </form>

<!--Install middle ware method override ?=M.patch-->
     <form method="POST" action="/delete/<%= product._id %>?_method=DELETE"> 
        <div  class="text-center mb-2 mt-2">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full text-left mt-5 mb-5 delay-150 duration-300"
            type="submit"
          >
            Delete
         </button>
      </form>
    </span>
    </div>
  </body>
</html>
