<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Random Shop</title>
  </head>

  <body>
    <header class="bg-orange-500 py-10 mb-3">
      <nav class="text-white">
        <ul class="list-none">
          <img
            src="/img/download.png"
            class="inline-block pr-8 object-contain pl-10"
          />
          <li class="inline-block text-2xl italic bold indent-20">
            Random Shop
          </li>
          <li
            class="inline-block pl-10 indent-80 text-3xl italic bold text-center text-black "
          >
            Wishlist
          </li>
          <!--Wishlist and logout portion-->
          <li class="inline-block pr-10 text-right indent-96 mr-10 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
            <!--Update routing parameters-->
            <a href="/Home">Home</a>
          </li>

          <li class="inline-block pr-10 mr-15 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">

            <form method="POST" action="/logout">
              <!--Update logout parameters-->
             <button>Logout</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <% wishList.forEach(item => { %>

    <div class="box-border h-fill w-8/12 border-4 mt-10 mb-10 m-auto">
      <span class="text-center text-xl">
        <p class="mt-2">
          Name: <span class="font-bold"><%= item.productName %></span>
        </p>
        <p class="mt-2">
          Price: <span class="font-bold"><%= item.price %></span>
        </p>


        <% if(item.expectedDelivery){ %>
         <p class="mt-2"> 
          Expected Delivery:
          <span class="font-bold"><%= item.expectedDelivery %></span>
        </p>
        <% } else { %>
          <p></p>
          <% } %>

        <% if(item.country){ %>
        <p class="mt-2">
          Country: <span class="font-bold"><%= item.country %></span>
        </p>
        <% } else { %>
          <p></p>
          <% } %>
      </span>

      <div  class="text-center mb-2 mt-2">
      <form method="GET" action="/show/<%= item._id %>">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-2 mb-4 delay-150 duration-300"
          type="submit"
        >
          View Product
        </button>
      </form>

    </form>
    </div>
  </div>
    <% }) %>

    <div class="px-80 indent-80">
      <button
        class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded mb-10"
        type="submit"
      >
        <a href="/update">Update Wishlist</a>
      </button>
    </div>
  </body>
</html>
